* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    color: #2B2118; 
    background-color: #F7F3EE; 
}

/* Navegación */
nav {
    background: #2B2118;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid #B08968;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #E0D4C8; 
    font-weight: 600;
}

nav ul li a:hover {
    color: #B08968; 
}

/* Header */
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('https://i.pinimg.com/1200x/69/d0/d8/69d0d8ee0290aa330c1ff12aa7a0801b.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el espacio */
    background-position: center; /* Centra la imagen */

    background-repeat: no-repeat;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 1px solid #B08968;
}

header h1 {
    margin-bottom: 10px;
    color: #F7F3EE;
}

header p{
    margin-bottom: 10px;
    color: #F7F3EE;
    
}

/* Buscador */
header input {
    padding: 10px;
    width: 300px;
    border: 2px solid #7F5539; 
    border-radius: 12px;
    margin-top: 15px;
    background-color: #F7F3EE;
    color: #2B2118;
}

/* Destacados */
#destacados {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff; 
    border-radius: 10px;
    margin-top: 20px;
}

/* Estilo general de la tabla */
#tabla_libros {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse; /* Elimina espacios entre bordes */
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Un toque de profundidad */
    border-radius: 8px;
    overflow: hidden; /* Para respetar el borde redondeado */
}

/* Encabezados de la tabla */
#tabla_libros thead {
    background-color: #2B2118; /* Café oscuro de tu paleta */
    color: #F7F3EE; /* Crema claro */
}

#tabla_libros th, #tabla_libros td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #E0D4C8;
}

/* Efecto al pasar el mouse (Hover) */
#tabla_libros tbody tr:hover {
    background-color: #FDF9F5; /* Un tono apenas más claro que el fondo */
    cursor: pointer;
}

/* Estilo del buscador para que alinee con la tabla */
#filtro {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    border: 2px solid #B08968;
    border-radius: 8px;
    font-size: 1rem;
}